{% load static %}
{% include 'eleague/../parts/header.html' %}

<body>

    <div class="container col-md-10 col-md-offset-1">

        {% if user.is_authenticated %}

            <p class="section_header col-md-12">Hi {{ user.username }}, add a new Event</p>

            <form action="" method="post">
              {% csrf_token %}
              {% include 'eleague/../parts/form-template.html' %}
            </form>

             <button class="col-xs-12 return_btn btn btn-default" onclick="goBack()">Go Back</button>

        {% else %}
            {% include 'eleague/../parts/guest.html' %}
        {% endif %}
    </div>
</body>