{% load static %}
{% include 'eleague/../parts/header.html' %}

<body>

    <div class="container col-md-10 col-md-offset-1">

        {% if user.is_authenticated %}
          <p class="section_header col-md-12">Welcome {{ user.username }}!!!</p>
          <span><a href="{% url 'logout' %}?next=/" class="btn btn-default col-md-12" id="logout"> Logout</a><br></span>

          <p class="section_header">What do You need? </p>
            <div class="options">
              <a href="/eleague/mytournaments/" class="btn btn-default col-md-6 col-xs-12 welcome-btn" >My tournaments</a>
              <a href="/eleague/myevents/" class="btn btn-default col-md-6 col-xs-12 welcome-btn" >My events</a>
              <a href="/eleague/newtournament/" class="btn btn-default col-md-6 col-xs-12 welcome-btn" >New Tournament</a>
              <a href="/eleague/newevent/" class="btn btn-default col-md-6 col-xs-12 welcome-btn" >New Event</a>
            </div>

        {% include 'eleague/../parts/searchbyid.html' %}


        {% else %}
            {% include 'eleague/../parts/guest.html' %}
        {% endif %}

    </div>

</body>