{% load static %}
{% include 'eleague/../parts/header.html' %}

<body>

    <div class="container col-md-10 col-md-offset-1">

            {% if user.is_authenticated %}

                <p class="section_header col-md-12"><b>Tournaments owned by: {{ user.username }}</b></h1>
                {% if tournament_list %}
                <ul class="list-group clear">
                {% for tournament in tournament_list %}
                    <a class="list-group-item" href="/eleague/{{ tournament.id }}/">{{tournament.name}}</a>
                {% endfor %}
                </ul>
            <a href="/eleague/newtournament" class="btn btn-success col-xs-12 search_btn">New Tournament</a><br>
            <button class="col-xs-12 return_btn btn btn-default" onclick="goBack()">Go Back</button>

                {% else %}
                    <p>No tournament are available.</p>
                {% endif %}

            {% else %}
                  {% include 'eleague/../parts/guest.html' %}
            {% endif %}
    </div>
</body>