{% if user.is_authenticated %}

    <h1>Tournaments owned by: {{ user.username }}</h1>
    {% if tournament_list %}
    <ul>
    {% for tournament in tournament_list %}
        <li><a href="/eleague/{{ tournament.id }}/">{{tournament.name}}</li>
    {% endfor %}
    </ul>

    <button onclick="goBack()">Go Back</button>

 <script>
 function goBack() {
     window.history.back();
 }
 </script>

    {% else %}
        <p>No tournament are available.</p>
    {% endif %}

{% else %}

    <p>You are not logged yet!</p>
      <ul>
        <li><a href="{% url 'login' %}">Log in</a></li>
        <li><a href="{% url 'signup' %}">Sign up</a></li>
      </ul>

{% endif %}
