{% load static %}
{% include 'eleague/../parts/header.html' %}

<body>

    <div class="container col-md-10 col-md-offset-1">
        <p class="section_header col-md-12"><b>{{tournament.name}}</b></p>
        <div class="infos">
            <div class="alert alert-success col-xs-12 col-md-6 clear infos"><strong>Tag:</strong> {{tournament.tag}}</div>
            <div class="alert alert-success col-xs-12 col-md-6 infos    "><strong>Sport:</strong> {{tournament.sport}}</div>
        </div>

        <p class="section_header col-md-12">Games during tournament</p>

        <ul class="list-group clear">
          {% for event in tournament.event_set.all  %}
          <a class="list-group-item" href="/eleague/{{ tournament.id }}/{{event.id}}/">{{event.place}} ----- {{event.date}}</a>
          {%endfor%}
            <a href="/eleague/newevent" class="btn btn-success col-xs-12 search_btn">New Event</a><br>
        </ul>

         <button class="col-xs-12 return_btn btn btn-default " onclick="goBack()">Go Back</button>
    </div>
</body>
